
/* Start header */

header {
    background-color: black;
}

header > .container-xxl .d-flex a img{
    width: 100px;
}

header > .navbar .container-xxl .navbar-brand img {
    width: 50px;
}

header .navbar .at_dropdown-item {
    text-decoration: none;
    color: black;
}

header .navbar .at_dropdown-item img {
    width: 60px;
}

header .navbar .at_dropdown-item:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .5);
    color: black;
}

header .navbar .at_border-color-1 {
    border-color: #c7c8c9 !important;
}

header .navbar .at_list-style-1 {
    list-style: disc inside;
    color: #0070d1;
    font-size: .60rem;
}

header .at_link-1 {
    color: black !important;
    text-decoration: none !important;
}

header .at_link-1:hover {
    color: #0070d1 !important;
}

header .at_link-1.show {
    color: #0070d1 !important;
}

header .at_toogle i:last-of-type {
    display: none;
}

header .at_toogle.show i:first-of-type {
    display: none;
}

header .at_toogle.show i:last-of-type {
    display: inline;
}

header > .navbar .container-xxl .collapse form button img {
    width: 1.5rem;
}

header .at_button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #363636;
    border: 2px solid #363636;
}

header .at_button:hover {
    color: white;
    opacity: .9;
    box-shadow: 0px 0px 0px 2px white inset;
    transition: .5s;
}

header #at_search {
    transition: 0s;
}

/* End header */

/* Start main */

main {
    margin-top: 116px;
}

main #banner {
    width: 100%;
    min-height: 675px;
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main #banner .at_button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #cd3d0f;
    border: 2px solid #cd3d0f;
}

main #banner .at_button:hover {
    color: white;
    box-shadow: 0px 0px 0px 2px black inset;
    transition: .5s;
}

main #banner-selection .row .col div {
    cursor: pointer;
    transition: linear .25s;
}

main #banner-selection .row .col div img {
 width: 100%;
 border-radius: 20px;
}

main #banner-selection .row div.at_active {
    border: 3px solid #0070d1 ;
    border-radius: 23px;
    padding: 3px 3px;
}

main #banner-selection .row .col:hover div {
    transform: translateY(-10px);
}

main #hardware .at_button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #0070d1;
    border: 2px solid #0070d1;
}

main #hardware .at_button:hover {
    color: white;
    box-shadow: 0px 0px 0px 2px white inset;
    transition: .5s;
}

main #hardware .row .col img {
    width: 100%;
}

main #hardware .row.at_hardware-selection .col {
    cursor: pointer;
    transition: linear .5s;
}

main #hardware .row.at_hardware-selection .col {
    opacity: .5;
}

main #hardware .row.at_hardware-selection .col:hover {
    opacity: 1;
}

main #hardware .row.at_hardware-selection .col.at_active {
    opacity: 1;
    border-bottom: 3px solid #0070d1;
}

main #hardware .row.at_hardware-selection .col img {
    padding: 20%;
}

main #banner-2 {
    width: 100%;
    min-height: 675px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main #banner-2 .at_button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #cd3d0f;
    border: 2px solid #cd3d0f;
}

main #banner-2 .at_button:hover {
    color: white;
    box-shadow: 0px 0px 0px 2px black inset;
    transition: .5s;
}

main #new-releases {
    background-color: #1f1f1f;
}

main #new-releases .row .col {
    cursor: pointer;
}

main #new-releases .row .col img {
    width: 100%;
    border-radius: 20px;
}

main #explore-ps4 .row:first-of-type p {
    max-width: 500px;
}

main #explore-ps4 .row .col img {
    width: 100%;
}

main #explore-ps4 .at_button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #0070d1;
    border: 2px solid #0070d1;
}

main #explore-ps4 .at_button:hover {
    color: white;
    box-shadow: 0px 0px 0px 2px white inset;
    transition: .5s;
}


main #banner-3 {
    background-color: #bebcbb;
}

main #banner-3 .at_button {
    display: inline-block;
    text-decoration: none;
    color: #0070d1;
    background-color: #d9dadc;
    border: 2px solid #d9dadc;
}

main #banner-3 .at_button:hover {
    color: #0070d1;
    box-shadow: 0px 0px 0px 2px #c9c9c9;
    transition: .5s;
}

main #new-promo .row .col img {
    cursor: pointer;
}


/* End main */

